In [42]:
# !apt-get -y install git
# !git clone https://github.com/ferosta/spark.git
# !git config --global user.email "amfedorov@mail.ru"
# !git config --global user.name "Fedorov Andrey"
!git status
!git add .
!git commit -m "сделаны все задания блока 3.3"
!git push

On branch main
Your branch is up to date with 'origin/main'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	new file:   .ipynb_checkpoints/README-checkpoint.md
	new file:   .ipynb_checkpoints/Z3_3_PySpark-checkpoint.ipynb
	new file:   .ipynb_checkpoints/old_Z3_3_PySpark-checkpoint.ipynb
	modified:   Z3_3_PySpark.ipynb
	new file:   old_Z3_3_PySpark.ipynb

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   Z3_3_PySpark.ipynb

[main 0684861] сделаны все задания блока 3.3
 5 files changed, 3730 insertions(+), 221 deletions(-)
 create mode 100644 .ipynb_checkpoints/README-checkpoint.md
 create mode 100644 .ipynb_checkpoints/Z3_3_PySpark-checkpoint.ipynb
 create mode 100644 .ipynb_checkpoints/old_Z3_3_PySpark-checkpoint.ipynb
 create mode 100644 old_Z3_3_PySpark.ipynb
Username for 'https://github.com': ^C

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.types as T
import pyspark.sql.functions as F
from pyspark.sql.functions import udf
from pyspark.sql.functions import window

import datetime
import math

In [3]:
# spark = SparkSession.builder.master("local").\
# 192.168.144.202
# spark = SparkSession.builder.master("spark://192.168.144.202:7077").\
spark = SparkSession.builder.master("local").\
                appName("Home_Work_py").\
                config("spark.driver.bindAddress", "localhost").\
                config("spark.ui.port", "4040").\
                getOrCreate()

22/11/29 07:26:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/11/29 07:26:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# Попробовать без схемы данных

In [4]:
data = [ ('Петя','','Петров','12-12-2010','M',3000)
        ,('Маша','Михайловна','Мишина','10-09-2000','F',5000)
        ,('Коля','Николаевич','','15-06-1999','M',4000)
        ,('Вася','','Пупкин','01-01-1954','M',7000)
        ,('Иоган','Себастьян','Бах','30-05-1754','M',5000)
]

In [5]:
columns = ['firstame', 'midlename', 'secondname', 'dob', 'gender', 'salary']
df = spark.createDataFrame(data = data, schema = columns )

In [6]:
df.count()

5

In [7]:
df.show(5)

+--------+----------+----------+----------+------+------+
|firstame| midlename|secondname|       dob|gender|salary|
+--------+----------+----------+----------+------+------+
|    Петя|          |    Петров|12-12-2010|     M|  3000|
|    Маша|Михайловна|    Мишина|10-09-2000|     F|  5000|
|    Коля|Николаевич|          |15-06-1999|     M|  4000|
|    Вася|          |    Пупкин|01-01-1954|     M|  7000|
|   Иоган| Себастьян|       Бах|30-05-1754|     M|  5000|
+--------+----------+----------+----------+------+------+

In [8]:
df.printSchema()

root
 |-- firstame: string (nullable = true)
 |-- midlename: string (nullable = true)
 |-- secondname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

Мы попробуем использовать возможности Spark для анализа данных clickstream пользователей новостного Интернет-портала.

# a. Создайте схему будущего фрейма данных. 
Схема должна включать следующие атрибуты:

·id -  уникальный идентификатор посетителя сайта. Тип – последовательность чисел фиксированной длины. Данное поле не является первичным ключом.

· timestamp – дата и время события в формате unix timestamp.

· type – тип события, значение из списка (факт посещения(visit), клик по визуальному элементу страницы(click), скролл(scroll), перед на другую страницу(move)).

· page_id – id текущей страницы. Тип - последовательность чисел фиксированной длины.

· tag – каждая страница с новостью размечается редакцией специальными тегами, которые отражают тематику конкретной новости со 
страницы. Возможный список тематик: политика, спорт, медицина и т.д.

· sign – наличие у пользователя личного кабинета. Значения – True/False.

In [9]:
schema_web = T.StructType(fields=[
    T.StructField("id", T.LongType()),
    T.StructField("timestamp", T.LongType()),
    T.StructField("type", T.StringType()),
    T.StructField("page_id", T.LongType()),
    T.StructField("tag", T.StringType()),
    T.StructField("sign", T.BooleanType())
])

## схема для данных ЛК из задания 6 "Создайте второй фрейм данных"
<a id='my_cell'></a>

In [10]:
schema_lk = T.StructType(fields=[
    T.StructField("id_cab", T.LongType()),
    T.StructField("user_id", T.LongType()),
    T.StructField("FIO", T.StringType()),
    T.StructField("birthdate", T.DateType()),
    T.StructField("cab_regdate", T.DateType()),
])

# b. Создайте датафрейм 
с описанной выше схемой данных.

In [11]:
data_web = [ (1, 1667627426, "visit", 101, 'Sport', False)
            ,(1, 1667627026, "scroll", 101, 'Sport', False)
            ,(1, 1667627880, "click", 101, 'Sport', False)
            ,(1, 1667627889, "click", 101, 'Sport', False)
            ,(1, 1667627980, "visit", 102, 'Politics', False)
            ,(1, 1667627180, "click", 102, 'Politics', False)
            ,(1, 1667628180, "visit", 103, 'Politics', False)
            ,(2, 1647628326, "visit", 104, 'Politics', True)
            ,(2, 1669628526, "scroll", 104, 'Politics', True)
            ,(2, 1667628680, "click", 104, 'Politics', True)
            ,(2, 1668628880, "visit", 105, 'Business', True)
            ,(2, 1667638810, "click", 105, 'Business', True)
            ,(2, 1667628819, "click", 105, 'Business', True)
            ,(3, 1667624980, "visit", 106, 'Sport', False)
            ,(3, 1667609180, "click", 106, 'Sport', False)
            ,(3, 1667629480, "visit", 107, 'Politics', False)
            ,(3, 1667029580, "scroll", 107, 'Politics', False)]

In [12]:
data_lk =[
     (101,1,"Иванов Иван Иванович", datetime.datetime(1990,7,5), datetime.datetime(2016,8,15))
    ,(102,2,"Петрова Петра Петручевна", datetime.datetime(2001,12,1), datetime.datetime(2020,4,1))
]

In [13]:
df_web = spark.createDataFrame(data=data_web, schema = schema_web)
df_lk = spark.createDataFrame(data=data_lk, schema = schema_lk)

In [14]:
df_web.show()

+---+----------+------+-------+--------+-----+
| id| timestamp|  type|page_id|     tag| sign|
+---+----------+------+-------+--------+-----+
|  1|1667627426| visit|    101|   Sport|false|
|  1|1667627026|scroll|    101|   Sport|false|
|  1|1667627880| click|    101|   Sport|false|
|  1|1667627889| click|    101|   Sport|false|
|  1|1667627980| visit|    102|Politics|false|
|  1|1667627180| click|    102|Politics|false|
|  1|1667628180| visit|    103|Politics|false|
|  2|1647628326| visit|    104|Politics| true|
|  2|1669628526|scroll|    104|Politics| true|
|  2|1667628680| click|    104|Politics| true|
|  2|1668628880| visit|    105|Business| true|
|  2|1667638810| click|    105|Business| true|
|  2|1667628819| click|    105|Business| true|
|  3|1667624980| visit|    106|   Sport|false|
|  3|1667609180| click|    106|   Sport|false|
|  3|1667629480| visit|    107|Politics|false|
|  3|1667029580|scroll|    107|Politics|false|
+---+----------+------+-------+--------+-----+

In [15]:
df_lk.show()

+------+-------+--------------------+----------+-----------+
|id_cab|user_id|                 FIO| birthdate|cab_regdate|
+------+-------+--------------------+----------+-----------+
|   101|      1|Иванов Иван Иванович|1990-07-05| 2016-08-15|
|   102|      2|Петрова Петра Пет...|2001-12-01| 2020-04-01|
+------+-------+--------------------+----------+-----------+

# c. Наполните датафрейм данными. 
Пример:
(12345, 1667627426, "click", 101, "Sport”, False)

In [16]:
data_lk_new =[
     (103,3,"Чугунова Марья Ивановна", datetime.datetime(1995,3,15), datetime.datetime(2017,5,17))
    ,(104,4,"Козлодоев Лёлик Боликович", datetime.datetime(1993,8,19), datetime.datetime(2021,12,30))
    ,(105,5,"Сергеева Анжелика Ибрагимовна", datetime.datetime(1999,1,29), datetime.datetime(2022,2,23))
    ,(106,6,"Трумп Дональд Руандович", datetime.datetime(1983,4,12), datetime.datetime(2020,1,22))
    ,(105,7,"КоКо Клавдия Юрьевна", datetime.datetime(1978,1,5), datetime.datetime(2021,3,13))
    ,(106,8,"Клуни Константин Плятович", datetime.datetime(1973,9,22), datetime.datetime(2017,8,8))
    ,(115,9,"Сычев Слава Славович", datetime.datetime(1988,5,15), datetime.datetime(1997,9,23))
    ,(116,10,"Хрюнов Вова Изевич", datetime.datetime(1993,4,12), datetime.datetime(2000,1,1))
    ,(116,11,"Сикретова Кэт Радиоловна", datetime.datetime(1963,3,18), datetime.datetime(1999,6,6))
    
]

In [17]:
df_lk_new = spark.createDataFrame(data=data_lk_new, schema = schema_lk)
df_lk_new = df_lk.union(df_lk_new)
df_lk_new.show()

+------+-------+--------------------+----------+-----------+
|id_cab|user_id|                 FIO| birthdate|cab_regdate|
+------+-------+--------------------+----------+-----------+
|   101|      1|Иванов Иван Иванович|1990-07-05| 2016-08-15|
|   102|      2|Петрова Петра Пет...|2001-12-01| 2020-04-01|
|   103|      3|Чугунова Марья Ив...|1995-03-15| 2017-05-17|
|   104|      4|Козлодоев Лёлик Б...|1993-08-19| 2021-12-30|
|   105|      5|Сергеева Анжелика...|1999-01-29| 2022-02-23|
|   106|      6|Трумп Дональд Руа...|1983-04-12| 2020-01-22|
|   105|      7|КоКо Клавдия Юрьевна|1978-01-05| 2021-03-13|
|   106|      8|Клуни Константин ...|1973-09-22| 2017-08-08|
|   115|      9|Сычев Слава Славович|1988-05-15| 1997-09-23|
|   116|     10|  Хрюнов Вова Изевич|1993-04-12| 2000-01-01|
|   116|     11|Сикретова Кэт Рад...|1963-03-18| 1999-06-06|
+------+-------+--------------------+----------+-----------+

In [18]:
data_web_new = [ (4, 1667626426, "visit", 101, '1945', False)
            ,(4, 1667625027, "scroll", 101, '1945', False)
            ,(4, 1667624886, "click", 101, '1945', False)
            ,(4, 1667637885, "click", 101, '1945', False)
            ,(4, 1667622984, "visit", 102, 'Games', False)
            ,(4, 1667621183, "click", 102, 'Games', False)
            ,(4, 1667620182, "visit", 103, 'Games', False)
            ,(5, 1647629321, "visit", 104, 'Games', True)
            ,(5, 1669625820, "scroll", 104, 'Games', True)
            ,(5, 1667627681, "click", 104, 'Games', True)
            ,(5, 1668626882, "visit", 105, 'Fortran', True)
            ,(5, 1667635813, "click", 105, 'Programming', True)
            ,(5, 1667624814, "click", 105, 'Programming', True)
            ,(1, 1667633985, "visit", 106, '1945', False)
            ,(2, 1667612186, "click", 106, '1945', False)
            ,(3, 1667629488, "visit", 107, 'Sport', False)
            ,(4, 1667000589, "scroll", 107, 'Games', False)
            ,(1, 1647699321, "visit", 104, 'Games', True)
            ,(2, 1669685820, "scroll", 104, 'Games', True)
            ,(3, 1667677681, "click", 104, 'Sport', True)
            ,(4, 1668666882, "visit", 105, 'Python', True)
            ,(5, 1667655813, "click", 105, 'SCALA', True)
            ,(6, 1667644814, "click", 105, 'PHP', True)
            ,(7, 1667633985, "visit", 106, '1945', False)
            ,(8, 1667622186, "click", 106, '1945', False)
            ,(9, 1667601488, "visit", 107, 'Games', False)
            ,(1, 1667010589, "scroll", 107, 'Sport', False)
]

In [19]:
df_web_new = spark.createDataFrame(data=data_web_new, schema = schema_web)
df_web_new = df_web.union(df_web_new)
df_web_new.show()

+---+----------+------+-------+--------+-----+
| id| timestamp|  type|page_id|     tag| sign|
+---+----------+------+-------+--------+-----+
|  1|1667627426| visit|    101|   Sport|false|
|  1|1667627026|scroll|    101|   Sport|false|
|  1|1667627880| click|    101|   Sport|false|
|  1|1667627889| click|    101|   Sport|false|
|  1|1667627980| visit|    102|Politics|false|
|  1|1667627180| click|    102|Politics|false|
|  1|1667628180| visit|    103|Politics|false|
|  2|1647628326| visit|    104|Politics| true|
|  2|1669628526|scroll|    104|Politics| true|
|  2|1667628680| click|    104|Politics| true|
|  2|1668628880| visit|    105|Business| true|
|  2|1667638810| click|    105|Business| true|
|  2|1667628819| click|    105|Business| true|
|  3|1667624980| visit|    106|   Sport|false|
|  3|1667609180| click|    106|   Sport|false|
|  3|1667629480| visit|    107|Politics|false|
|  3|1667029580|scroll|    107|Politics|false|
|  4|1667626426| visit|    101|    1945|false|
|  4|1667625027|scroll|    101|    1945|false|
|  4|1667624886| click|    101|    1945|false|
+---+----------+------+-------+--------+-----+
only showing top 20 rows

# d.       Решите следующие задачи:

## ·   Вывести топ-5 самых активных посетителей сайта

In [20]:
# пять активных из таблицы с кликами
df_top5 =\
df_web_new\
.groupby("id")\
.count()\
.sort("count" , ascending=False)\
.limit(5)

df_top5.show()

+---+-----+
| id|count|
+---+-----+
|  1|   10|
|  4|    9|
|  2|    8|
|  5|    7|
|  3|    6|
+---+-----+

In [21]:
# имена пяти активных пользователей
df_top5_rez =\
df_top5\
    .join(
df_lk_new
    ,on = (df_top5.id==df_lk.user_id)
    ,how = "left")\
.select(['FIO'])

df_top5_rez.show()

+--------------------+
|                 FIO|
+--------------------+
|Сергеева Анжелика...|
|Иванов Иван Иванович|
|Чугунова Марья Ив...|
|Петрова Петра Пет...|
|Козлодоев Лёлик Б...|
+--------------------+

## ·   Посчитать процент посетителей,
у которых есть ЛК

In [22]:
# уникальные записи айди-кабинет
df_tmp = df_web_new.select(['id','sign']).distinct()
num_users = df_tmp.count()
print("Всего активных пользователей", num_users)
num_users_lk = df_tmp.select(['id','sign']).where(df_tmp.sign == True).count()
print("Всего у кого есть кабинет", num_users_lk)
print(f"Ответ: процент посетителей, у которых есть ЛК = {num_users_lk/num_users*100:.1f}%" )

Всего активных пользователей 13

Всего у кого есть кабинет 6
Ответ: процент посетителей, у которых есть ЛК = 46.2%

## ·   Вывести топ-5 страниц сайта 
по показателю общего кол-ва кликов на данной странице

In [23]:
df_web_new.select(["page_id", "type"])\
.where(df_web_new.type == 'click')\
.groupby('page_id')\
.count()\
.sort("count", ascending=False)\
.show(5)

+-------+-----+
|page_id|count|
+-------+-----+
|    105|    6|
|    101|    4|
|    104|    3|
|    106|    3|
|    102|    2|
+-------+-----+

## ·   Добавьте столбец к фрейму данных
со значением временного диапазона в рамках суток с размером окна – 4 часа(0-4, 4-8, 8-12 и т.д.)

In [24]:
df_web_new_ok =\
df_web_new\
.withColumn("interval_num", 
            F.floor( 0.25*F.hour( 
                     F.from_unixtime(df_web_new.timestamp)
                  ) 
               )
           )\
.withColumn('From', 4*F.col("interval_num"))\
.withColumn('To', F.col("From")+4)\
.withColumn('event_time', 
            F.concat(F.col("From"), F.lit("-"), F.col("To")))\
.drop('From').drop('To').drop("interval_num")
df_web_new_ok.show()

+---+----------+------+-------+--------+-----+----------+
| id| timestamp|  type|page_id|     tag| sign|event_time|
+---+----------+------+-------+--------+-----+----------+
|  1|1667627426| visit|    101|   Sport|false|       4-8|
|  1|1667627026|scroll|    101|   Sport|false|       4-8|
|  1|1667627880| click|    101|   Sport|false|       4-8|
|  1|1667627889| click|    101|   Sport|false|       4-8|
|  1|1667627980| visit|    102|Politics|false|       4-8|
|  1|1667627180| click|    102|Politics|false|       4-8|
|  1|1667628180| visit|    103|Politics|false|       4-8|
|  2|1647628326| visit|    104|Politics| true|     16-20|
|  2|1669628526|scroll|    104|Politics| true|      8-12|
|  2|1667628680| click|    104|Politics| true|       4-8|
|  2|1668628880| visit|    105|Business| true|     20-24|
|  2|1667638810| click|    105|Business| true|      8-12|
|  2|1667628819| click|    105|Business| true|       4-8|
|  3|1667624980| visit|    106|   Sport|false|       4-8|
|  3|1667609180| click|    106|   Sport|false|       0-4|
|  3|1667629480| visit|    107|Politics|false|       4-8|
|  3|1667029580|scroll|    107|Politics|false|       4-8|
|  4|1667626426| visit|    101|    1945|false|       4-8|
|  4|1667625027|scroll|    101|    1945|false|       4-8|
|  4|1667624886| click|    101|    1945|false|       4-8|
+---+----------+------+-------+--------+-----+----------+
only showing top 20 rows

## ·   Выведите временной промежуток 
на основе предыдущего задания, в течение которого было больше всего активностей на сайте.

In [34]:
print("Временной интервал максимальной активности: " )
df_web_new_ok\
.groupBy("event_time")\
.count()\
.sort("count", ascending=False)\
.first()["event_time"]

Временной интервал максимальной активности:

'4-8'

## ·   Создайте второй фрейм данных, 
который будет содержать информацию о ЛК посетителя сайта со следующим списком атрибутов
1.       Id – уникальный идентификатор личного кабинета
2.       User_id – уникальный идентификатор посетителя
3.       ФИО посетителя
4.    Дату рождения посетителя 
5.       Дата создания ЛК

[сделано в п 3 (б)](#my_cell)

## ·   Вывести фамилии посетителей, которые читали хотя бы одну новость про спорт.

In [26]:
# записи о новостях про спорт
df_sport =\
df_web_new\
.select(['id', 'tag'])\
.where(df_web_new.tag == "Sport")\
.distinct() #groupby("id").count().sort("count" , ascending=False)

df_sport.show()

+---+-----+
| id|  tag|
+---+-----+
|  1|Sport|
|  3|Sport|
+---+-----+

In [38]:
# имена пользователей, читавших новости про спорт
df_sport_rez =\
df_sport\
    .join(
df_lk_new
    ,on = (df_sport.id==df_lk.user_id)
    ,how = 'left')\
.select(F.regexp_extract('FIO', r'( [А-ЯА-я]* )', 1).alias("Name"))

df_sport_rez.show()

+-------+
|   Name|
+-------+
|  Иван |
| Марья |
+-------+

## ·   *Выведите 10% ЛК,
у которых максимальная разница между датой создания ЛК и датой последнего посещения.

In [28]:
#текущая дата - для тех, кто зарегистрировался  ,но до сих по не зашел на сайт - у них самый максимальный лаг в посещении
now_tstmp = datetime.datetime.timestamp( datetime.datetime.now() )
num_lk_10pc = round(0.1*df_lk_new.count())

df_delta =\
df_lk_new.withColumn("cab_regdate", F.unix_timestamp( F.col("cab_regdate") ))\
    .join(
df_web_new.select(["id","timestamp"]).groupBy("id" ).max()
    , on=(df_web_new.id == df_lk_new.user_id)
    , how='left')\
.fillna({'max(timestamp)': now_tstmp})\
.withColumn('delta',F.col('max(timestamp)') - F.col('cab_regdate')  )\
.sort('delta', ascending=False)\
.drop("delta").drop("max(timestamp)")\
.limit(num_lk_10pc)

df_delta.show()

+------+-------+--------------------+----------+-----------+---+-------+
|id_cab|user_id|                 FIO| birthdate|cab_regdate| id|max(id)|
+------+-------+--------------------+----------+-----------+---+-------+
|   115|      9|Сычев Слава Славович|1988-05-15|  874972800|  9|      9|
+------+-------+--------------------+----------+-----------+---+-------+

## ·   *Вывести топ-5 страниц,
которые чаще всего посещают мужчины и топ-5 страниц, которые посещают чаще женщины.

In [29]:
#женщины
df_lk_new_zh=df_lk_new.withColumn("sex", F.substring(df_lk_new.FIO, -3, 3))\
.filter('sex in ("вна","ева","ова")').drop("sex")

df_lk_new_zh.show()

+------+-------+--------------------+----------+-----------+
|id_cab|user_id|                 FIO| birthdate|cab_regdate|
+------+-------+--------------------+----------+-----------+
|   102|      2|Петрова Петра Пет...|2001-12-01| 2020-04-01|
|   103|      3|Чугунова Марья Ив...|1995-03-15| 2017-05-17|
|   105|      5|Сергеева Анжелика...|1999-01-29| 2022-02-23|
|   105|      7|КоКо Клавдия Юрьевна|1978-01-05| 2021-03-13|
|   116|     11|Сикретова Кэт Рад...|1963-03-18| 1999-06-06|
+------+-------+--------------------+----------+-----------+

In [30]:
#мужчины
df_lk_new_mzh = df_lk_new.subtract(df_lk_new_zh)
df_lk_new_mzh.show()

+------+-------+--------------------+----------+-----------+
|id_cab|user_id|                 FIO| birthdate|cab_regdate|
+------+-------+--------------------+----------+-----------+
|   116|     10|  Хрюнов Вова Изевич|1993-04-12| 2000-01-01|
|   104|      4|Козлодоев Лёлик Б...|1993-08-19| 2021-12-30|
|   101|      1|Иванов Иван Иванович|1990-07-05| 2016-08-15|
|   106|      8|Клуни Константин ...|1973-09-22| 2017-08-08|
|   115|      9|Сычев Слава Славович|1988-05-15| 1997-09-23|
|   106|      6|Трумп Дональд Руа...|1983-04-12| 2020-01-22|
+------+-------+--------------------+----------+-----------+

In [58]:
df_pages=\
df_web_new.where(df_web_new.type == "visit").select(["page_id", "tag"])\
.groupby("page_id").agg(F.concat_ws(",", F.collect_list("tag") ).alias("tag") )\
.sort("page_id")

df_pages.show()

+-------+--------------------+
|page_id|                 tag|
+-------+--------------------+
|    101|          Sport,1945|
|    102|      Politics,Games|
|    103|      Politics,Games|
|    104|Politics,Games,Games|
|    105|Business,Fortran,...|
|    106|     Sport,1945,1945|
|    107|Politics,Sport,Games|
+-------+--------------------+

In [62]:
#топ5 страниц, посещаемые женщинами
df_web_new\
    .join(
df_lk_new_zh.select("user_id")
    ,on = (df_web_new.id == df_lk_new_zh.user_id)
    ,how = 'right'
)\
.dropna()\
.where(df_web_new.type == "visit")\
.groupby("page_id").count().sort("count", ascending=False)\
    .join(
df_pages
    ,on = "page_id"
    ,how = "left" )\
.sort("count", ascending=False)\
.show(5)

+-------+-----+--------------------+
|page_id|count|                 tag|
+-------+-----+--------------------+
|    107|    2|Politics,Sport,Games|
|    104|    2|Politics,Games,Games|
|    106|    2|     Sport,1945,1945|
|    105|    2|Business,Fortran,...|
+-------+-----+--------------------+

In [61]:
#топ5 страниц, посещаемые мужчинами
df_web_new\
    .join(
df_lk_new_mzh.select("user_id")
    ,on = (df_web_new.id == df_lk_new_zh.user_id)
    ,how = 'right'
)\
.dropna()\
.where(df_web_new.type == "visit").groupby("page_id").count()\
    .join(
df_pages
    ,on = "page_id"
    ,how = "left" )\
.sort("count", ascending=False)\
.show(5)

+-------+-----+--------------------+
|page_id|count|                 tag|
+-------+-----+--------------------+
|    103|    2|      Politics,Games|
|    101|    2|          Sport,1945|
|    102|    2|      Politics,Games|
|    106|    1|     Sport,1945,1945|
|    105|    1|Business,Fortran,...|
+-------+-----+--------------------+
only showing top 5 rows